/* Birthday theme colour ideas https://www.canva.com/colors/color-palettes/birthday-cake/ */


html, body {
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: #BBD5D2;
}

h1 {
    background-color: #FFC2C7;
}

nav {
    background-color: #FBDFA0;
}

main {
    background-color: #5DD9FB;
}

table {
    margin: 0 auto;
}

th {
    vertical-align: top;
    padding: 10px;
}

td {
    padding: 10px;
}

img {
    width: 100px;
}

footer {
    background-color: #FFC2C7;
}