{% extends 'layout.html' %}

{% block title %}
CO2 emissions tracker - Emissions  
{% endblock title %}

{% block header %}
<a href="/"><img src="./static/img/carbon_footprint.png" alt="A foot with the letters: CO2 "></a>
<h1><a href="/">emissions tracker</a></h1>
{% endblock header %}

{% block nav %}
<p>
    {% if user_name != 'UNKNOWN' %} 
        <a href="./">Home</a> | <a href="./view-emissions">View / Edit Emissions</a> | <a href="/dashboard">View Dashboard</a> | <a href="/logout">Logout</a> | About 
    {% else %}
        <a href="./">Home</a> | <a href="/login">Login</a> | About 
    {% endif %}
</p>
{% endblock nav %}


{% block main %}
<p> 
    This website was created for Project 2 of the General Assembly Software Engineering Immersive.
</p>
<p>
    We hope you enjoy!
</p>
{% endblock main %}


{% block footer %}
Footer
{% endblock footer %}
