{% extends 'layout.html' %}

{% block title %}
CO2 emissions tracker - Add Emission
{% endblock title %}

{% block js_import %}
{% endblock js_import %}



{% block header %}
<a href="/"><img src="./static/img/carbon_footprint.png" alt="A foot with the letters: CO2 "></a>
<h1><a href="/">emissions tracker</a></h1>
{% endblock header %}

{% block nav %}
<p>
    <a href="./">Home </a> | <a href="./view-emissions">View / Edit Emissions</a> | <a href="/dashboard">View Dashboard</a> | <a href="/logout">Logout</a> | <a href="/about">About</a>
</p>
{% endblock nav %}


{% block main %}

<div class="form-container">

<form action="/add-emission-write" method="post">

<p>
    <label>Select emission category:</label>
    <select name="category" id="category" value="{% if event is defined %}{{ event.amount }}{% endif %}">
        {% for category in emission_rates %}
            
            {% if event is defined and emission_type == event.type %}
                <option value="{{ emission_type }}" selected="selected">{{ key|capitalize }}</option>
            {% else %}
                <option value="{{ category }}">{{ category|capitalize }}</option>
            {% endif %}
        {% endfor %}
    </select>
</p>
<p>
    <div id="step-two-list-container">
        <label>Select emission type:</label>
        <span id="step-two-list">
            <select name="type" id="type">
            <option value="Electricity (VIC)">Electricity (VIC)</option>
            <option value="Natural Gas">Natural Gas </option>
            </select>
        </span>
    </div>
</p>
    <p>
        <label>Enter usage amount: </label>
        <input name="amount" type="number" id="amount-field" value="{% if event is defined %}{{ event.amount }}{% endif %}" min="0"><span id='units_span'></span><!-- cast as int? use text or num field?--> 
    </p>
    <p>
        <div id="emission-estimate-div">Estimated emission (kg co2): </div>
    </p>
    <p>
        <label>Select time interval: </label>
        <input name="interval" class="radio-btn" value="Daily" {{ 'checked="checked"' if (event is defined and event.interval == "DAILY") }} type="radio">Daily
        <input name="interval" class="radio-btn" value="Monthly" {{ 'checked="checked"' if (event is defined and event.interval == "MONTHLY") }} type="radio">Monthly
        <input name="interval" class="radio-btn" value="Quarterly" {{ 'checked="checked"' if (event is defined and event.interval == "QUARTERLY") }} type="radio">Quarterly
    </p> 
    <p>
        <label>Enter date: </label>
        <input name="date" type="date" value="{% if event is defined %}{{ event.date }}{% endif %}"> 
        (Note: for monthly/quarterly, enter the end date)
    </p>
    <p>
        <label>Description: </label>
        <input name="description" type="text" value="{% if event is defined %}{{ event.description }}{% endif %}"> 
    </p>
    {% if mode == 'add' %}
        <button type="submit" class="submit-btn">Add To List</button>
    {% elif mode == 'edit' %}
        <button type="submit" class="submit-btn">Update List</button>
    {% endif %}
    <div id="error_message_div"></div>
</form>
</div>

{% endblock main %}



{% block js_script_import %}
<script type="text/javascript">

// Event listener for basic form validation 
const submit_button = document.querySelector('.submit-btn') 
submit_button.addEventListener('click', function(event) {
    const input_fields = document.getElementsByTagName('input')
    let error_message = ""
    
    // Check input fields 
    for (const input of input_fields) {
        if (input.value === "") {
            error_message += `Please enter a valid ${input.name}` + "<br>"
            event.preventDefault()
        }
    }

    // Check radio buttons, if any on page
    const radio_buttons = document.getElementsByClassName('radio-btn')
    if (radio_buttons.len > 0) {
        radioButtonSelected = false 
        for (const button of radio_buttons) {
            if (button.checked) {
                radioButtonSelected = true 
            }
        }
        if (!radioButtonSelected) {
            error_message += "Please select an option for interval <br>"
            event.preventDefault()
        }
    }

    const error_message_div = document.getElementById('error_message_div')
    error_message_div.innerHTML = error_message
})

// Ensure the appropriate units are displayed next to the input field
displayUnits = function() {
    const emission_selected = document.getElementById('type') 
    const units_span = document.getElementById('units_span')
    units_span.innerText = emission_selected.value
    switch(emission_selected.value) {
        case 'Electricity (VIC)':
            units_span.innerText = ' kWh';
            break;
        case 'Natural Gas':
            units_span.innerText = ' MJ';
            break;
        case 'Other':
            units_span.innerText = ' g co2'
            break;
        case 'Offset':
            units_span.innerText = ' g co2'
            break;
        default:
            units_span.innerText = ' km'
    }
}



// When user choses option at Step 1, update the Step 2 list accordingly
updateStepTwoList = function(event) {
    const drop_down_type = document.getElementById('step-two-list') 
    select_element = document.createElement('select')
    select_element.setAttribute('id','type')
    select_element.setAttribute('name','type')
    for (let [emission, rate] of Object.entries(emission_rates[event.target.value])) {
        const new_option = document.createElement('option')
        new_option.value = emission 
        new_option.innerText = emission 
        select_element.appendChild(new_option)
    }
    drop_down_type.replaceChildren(select_element)
    const emission_type= document.getElementById('type')
    emission_type.addEventListener('change', updateAmount)
    emission_type.addEventListener('change', displayUnits)
}

updateAmount = function(event) {
    const estimate_div = document.getElementById('emission-estimate-div')
    const emission_category = document.getElementById('category').value
    const emission_type = document.getElementById('type').value
    const amount_field = document.getElementById('amount-field').value
    
    emission_rate = emission_rates[emission_category][emission_type]
    estimate_div.innerText = `Estimated emission (kg co2): ${emission_rate * amount_field / 1000}`
}

window.onload = displayUnits() 

const drop_down_category = document.getElementById('category')
drop_down_category.addEventListener('change', updateStepTwoList)
drop_down_category.addEventListener('change', updateAmount)
drop_down_category.addEventListener('change', displayUnits)

const emission_type= document.getElementById('type')
emission_type.addEventListener('change', updateAmount)
emission_type.addEventListener('change', displayUnits)

const amount_field = document.getElementById('amount-field')
amount_field.addEventListener('change', updateAmount)

selected_category = drop_down_category.value
emission_rates = {{ emission_rates|safe }}


console.log('ddc', drop_down_category)
console.log('se', selected_category)
console.log('er', emission_rates)

const drop_down_type = document.querySelector('#type')

</script>

{% endblock js_script_import %}