{% extends 'layout.html' %}

{% block title %}
CO2 emissions tracker - Delete Emission
{% endblock title %}

{% block header %}
<img src="./static/img/carbon_footprint.png" alt="A foot with the letters: CO2 ">
<h1>emissions tracker</h1>
{% endblock header %}

{% block nav %}
<p>
    <a href="./">Home </a> | <a href="./view-emissions">View / Edit Emissions</a> | <a href="/dashboard">View Dashboard</a> | <a href="/logout">Logout</a> | <a href="/about">About</a>
</p>
{% endblock nav %}


{% block main %}
<p> Are you sure you want to delete this event? </p>
<table>
    <thead>
        <th>Date</th>
        <th>Interval</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td>{{event.date}}</td>
            <td>{{event.interval}}</td>
            <td>{{event.amount}}</td>
            <td>{{event.type}}</td>
            <td>{{event.description}}</td>
        </tr>
    </tbody>
</table>

<form action="/delete-emission-write" method="post">
    <p>
        <input type="hidden" name="id" value="{{ event.id }}">
    </p>
    <button type="submit">Yes - Delete</button>
    <!-- <a href="/emissions" class="button-link">No - go back</a> -->
    <a href="/view-emissions"><button type="button">No - Go back</button></a>
</form>


{% endblock main %}


{% block footer %}
Footer
{% endblock footer %}
