{% extends 'layout.html' %}

{% block title %}
CO2 emissions tracker - Add Emission
{% endblock title %}

{% block js_import %}
{% endblock js_import %}



{% block header %}
<a href="/"><img src="./static/img/carbon_footprint.png" alt="A foot with the letters: CO2 "></a>
<h1><a href="/">emissions tracker</a></h1>
{% endblock header %}

{% block nav %}
<p>
    <a href="./">Home </a> | <a href="./view-emissions">View / Edit Emissions</a> | <a href="/dashboard">View Dashboard</a> | <a href="/logout">Logout</a> | <a href="/about">About</a>
</p>
{% endblock nav %}


{% block main %}

<div class="form-container">

<form action="/edit-emission-write" method="post">
<input type="hidden" name="id" value="{{ event.id }}">

<p>
    <label>Select emission type:</label>
    <select name="type" id="type" value="{% if event is defined %}{{ event.amount }}{% endif %}">
        {% for emission_type in emission_types %}
            {% if event is defined and emission_type == event.type %}
                <option value="{{ emission_type }}" selected="selected">{{ emission_type|capitalize }}</option>
            {% else %}
                <option value="{{ emission_type }}">{{ emission_type|capitalize }}</option>
            {% endif %}
        {% endfor %}
    </select>
</p>
    <p>
        <label>Amount</label>
        <input name="amount" type="number" id="amount-field" value="{% if event is defined %}{{ event.amount }}{% endif %}" min="0"><span id='units_span'></span><!-- cast as int? use text or num field?--> 
    </p>
    <p>
        <label>Time interval</label>
  
        <input name="interval" class="radio-btn" value="Daily" {{ 'checked="checked"' if (event is defined and event.interval == "DAILY") }} type="radio">Daily
        <input name="interval" class="radio-btn" value="Monthly" {{ 'checked="checked"' if (event is defined and event.interval == "MONTHLY") }} type="radio">Monthly
        <input name="interval" class="radio-btn" value="Quarterly" {{ 'checked="checked"' if (event is defined and event.interval == "QUARTERLY") }} type="radio">Quarterly
    </p> 
    <p>
        <label>Date</label>
        <input name="date" type="date" value="{% if event is defined %}{{ event.date }}{% endif %}"> 
        (Note: for quarterly/monthly, enter the end date)
    </p>
    <p>
        <label>Description</label>
        <input name="description" type="text" value="{% if event is defined %}{{ event.description }}{% endif %}"> 
    </p>
    {% if mode == 'add' %}
        <button type="submit" class="submit-btn">Add To List</button>
    {% elif mode == 'edit' %}
        <button type="submit" class="submit-btn">Update List</button>
    {% endif %}
    <div id="error_message_div"></div>
</form>
</div>

{% endblock main %}



{% block js_script_import %}
<script src="./static/javascript/form-validation.js" async defer></script>
<script src="./static/javascript/get-units.js" async defer></script>
{% endblock js_script_import %}