{% extends 'layout.html' %}

{% block title %}
CO2 emissions tracker - Emissions  
{% endblock title %}

{% block header %}
<img src="./static/img/carbon_footprint.png" alt="A foot with the letters: CO2 ">
<h1>emissions tracker</h1>
{% endblock header %}

{% block nav %}
<p>
    <a href="./">Home</a> | View / Edit Emissions | <a href="/dashboard">View Dashboard</a> | <a href="/logout">Logout</a> | <a href="/about">About</a>
</p>
{% endblock nav %}


{% block main %}
<table>
    <thead>
        <th>Date<br><a href="./view-emissions?sortby=date-asc">⬆️</a> <a href="./view-emissions?sortby=date-desc">⬇️</a></th>
        <th>Interval<br><a href="./view-emissions?sortby=interval-asc">⬆️</a> <a href="./view-emissions?sortby=interval-desc">⬇️</a></th>
        <th>Amount<br><a href="./view-emissions?sortby=amount-asc">⬆️</a> <a href="./view-emissions?sortby=amount-desc">⬇️</a></th>
        <th>Type<br><a href="./view-emissions?sortby=type-asc">⬆️</a> <a href="./view-emissions?sortby=type-desc">⬇️</a></th>
        <th>Description<br><a href="./view-emissions?sortby=description-asc">⬆️</a> <a href="./view-emissions?sortby=description-desc">⬇️</a></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for event in emissions %}
        <tr>
            <td>{{event.get_date()}}</td>
            <td>{{event.interval}}</td>
            <td>{{event.amount}}{{event.get_units()}}</td>
            <td>{{event.type}}</td>
            <td>{{event.description}}</td>
            <td><a href="/edit-emission-view?id={{event.id}}">Edit</a></td>
            <td><a href="/delete-emission-view?id={{event.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
<button><a href="/add-emission-view">Add new emission</a></button>
</p>
{% endblock main %}


{% block footer %}
Footer
{% endblock footer %}
