{% extends 'layout.html' %}

{% block title %}
CO2 emissions tracker - Emissions  
{% endblock title %}

{% block header %}
<h1>CO2 emissions tracker</h1>
{% endblock header %}

{% block nav %}
Nav
<p>
    <a href="./">Home </a> | <a href="./view-emissions">View Emissions</a>
</p>
{% endblock nav %}


{% block main %}
Main
<p>
    <img src="./static/img/carbon_footprint.png" alt="A foot with the letters: CO2 ">
</p>
Here are your emissions:
<table>
    <thead>
        <th>Date</th>
        <th>Interval</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Description</th>
    </thead>
    <tbody>
        {% for event in emissions %}
        <tr>
            <td>{{event.date}}</td>
            <td>{{event.interval}}</td>
            <td>{{event.amount}}</td>
            <td>{{event.type}}</td>
            <td>{{event.description}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock main %}


{% block footer %}
Footer
{% endblock footer %}
