{% extends 'layout.html' %}

{% block title %}
CO2 emissions tracker - Home
{% endblock title %}

{% block header %}
<img src="./static/img/carbon_footprint.png" alt="A foot with the letters: CO2 ">
<h1>CO2 emissions tracker</h1>
{% endblock header %}

{% block nav %}
    <a href="./view-emissions">View / Edit Emissions list</a>
<p>
    <a href="./dashboard">View Dashboard</a>
</p>
<a href="/login">Login</a>
{% endblock nav %}


{% block main %}
<p>
Welcome to carbon tracker! 
<br>
<br>
TODO - only show this if user not logged in
<br>
<a href="/login">Click here to login</a>
</p>
<p>
    Don't have an account? <a href="/signup">Sign up here</a>
</p>
<p>
    Want to know more about us?  <a href="/about">Click here</a>
</p>
{% endblock main %}


{% block footer %}
Footer
{% endblock footer %}
