{% extends 'layout.html' %}

{% block title %}
CO2 emissions tracker - Emissions  
{% endblock title %}

{% block header %}
<a href="/"><img src="./static/img/carbon_footprint.png" alt="A foot with the letters: CO2 "></a>
<h1><a href="/">emissions tracker</a></h1>
{% endblock header %}

{% block nav %}
<p>
    <a href="./">Home</a> | <a href="./about">About </a>  
</p>
{% endblock nav %}


{% block main %}
<p>
    <form action="/login" method="post">
        <label for="email">Enter email address:</label>
        <input name="email" type="text"></input>
        <p>
        <label for="password">Enter password:</label>
        <input name="password" type="password"></input>
        </p>
        <p>
            <button type="submit" class="submit-btn">Login</button>
        </p>
        {% if incorrect_password %}
        Incorrect user account / password details - please try again
        {% endif %}
        <div id="error_message_div"></div>
    </form>
</p>
<p>
    Don't have an account? <a href="/signup">Sign up here</a>
    </p>
{% endblock main %}



{% block js_script_import %}
<script src="./static/javascript/form-validation.js" async defer></script>
{% endblock js_script_import %}