{% extends "layout.html" %}

{% block header %}
<a href="/"><img src="./static/img/carbon_footprint.png" alt="A foot with the letters: CO2 "></a>
<h1><a href="/">emissions tracker</a></h1>
{% endblock header %}

{% block title %}
Sign Up
{% endblock title %}

{% block nav %}
<p>
    <a href="./">Home</a> | <a href="./about">About </a>  
</p>
{% endblock nav %}

{% block main %}
    <form action="/signup" method="post">
    <p>
        <label for="name">Enter name</label>
        <input name="name" type="text"></input>
    </p>
        <p>
        <label for="email">Enter email</label>
        <input id="email-input" name="email" type="text"></input>
        </p>
        <p>
        <label for="password">Enter password</label>
        <input id="password-input" name="password" type="password"></input>
        </p>
        <p>
        <label for="password-confirm">Confirm password</label>
        <input id="password-confirm-input" name="password-confirm" type="password"></input>
        </p>
        <p>
        <button type="submit" class="submit-btn">Sign Up</button>
        </p>
        <div id="error_message_div"></div>
    </form>
    {% if password_confirm_matches == False %}
        Error - your passwords don't match!
    {% elif valid_email == False %}
        Error - your email is not valid!
    {% endif %}
{% endblock main %}
<!-- 
{% block footer %}
Footer
{% endblock footer %} -->

{% block js_script_import %}
<script src="./static/javascript/form-validation.js" async defer></script>
{% endblock js_script_import %}